<html>
<head>
    <script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script>
        function get_similar(){
            var uri = document.getElementById("url").value
            var format = "RDF"
            $.get('/get_similar',data={'uri': uri, 'format': format}, function(data){
		
                //console.log(data[0]);
		
                var responseString = "";
                for (URI in data) {
                    responseString += (URI + ": " + data[URI] + "<br>");
                }
                
                console.log(responseString);
                
                document.getElementById('response').innerHTML = responseString;
                
                
                
                
                
	    });
	
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h1>Fill in a URI</h1>
                
                
                <input type="text" id="url"></input>
                <button onclick="get_similar()">submit</button>
                <p id="response">test</p>
            </div>
        </div>
    </div>
    
</body>
</html>