<html>
<head>
    <script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
    <script src='{{ url_for("static", filename="js/functions.js") }}' type='text/javascript'></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script>
        
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h1>Fill in a URI</h1>
                
                
                <input type="text" id="url"></input>
                <button onclick="get_similar()">submit</button>
                <p id="response"></p>
            </div>
        </div>
    </div>
    
</body>
</html>